body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 16px;
    background-color: #f2f2f2;
}
.container {
    position: relative;
    margin-top: 3%;
}
#forms {
    padding: 40px;
}
.input {
    width: 100%;
    box-sizing: border-box;
}
.input-group {
    margin: 8px 0;
}
input[type=text]:focus {
    border: 3px solid #555;
}
a.details {
    font-size: 20px;
    font-weight: bold;
    color: white;
}
/* Hidden Elements */

#restaurant {
    display: none;
}
#loading {
    display: none;
}
.error {
    display: none;
}
/* Spinner CSS */

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* Carousel CSS */

.carousel img {
    object-fit: cover;
    width: 250px;
    height: 250px;
    filter: brightness(60%);
}
.carousel-caption {
    line-height: 1.375em;
    font-weight: 400;
    margin: -40px 0;
    text-shadow: 0 0 20px black;
}